.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.tarjetas {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 40px 20px;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  position: relative;
  width: 300px;
  height: 200px;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card-img {
  width: 100%;
  height: 100%;
}

.card:hover {
  transform: rotate(-5deg) scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card:hover .card__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.card:hover svg {
  scale: 0;
  transform: rotate(-45deg);
}

@keyframes textoAnimado {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.titulo {
  color: #104fd6;
  font-size: 2em;
  z-index: 2;
  text-align: center;
  padding: 20px;
  animation: textoAnimado 1.5s ease-in-out infinite;
}

.section-top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 840px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}

.top-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  gap: 10px;
  top: 0;
  left: 0;
  z-index: -1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: #fff;
}

h1,
h2,
h3,
h4 {
  font-family: cursive;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  position: relative;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  transition: background 0.3s;
  z-index: 3;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.nav-links a:hover {
  background: #575757;
}

.nav-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  z-index: 5;
}

.nav-toggle span {
  width: 25px;
  height: 3px;
  background: #fff;
  margin: 4px 0;
  transition: all 0.3s;
}

.slider-wrapper {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}

.slider {
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 1px 2px 3px 4px hsla(0, 0%, 0%, 0.25);
  border-radius: 10px;
}

.image {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 16px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  translate: translateX(-50%);
  z-index: 1;
}

.slider-button {
  width: 10px;
  height: 10px;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
  border-radius: 50%;
}

.slider-button:hover {
  opacity: 1;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1px 0;
  margin-top: auto;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 20px;
  gap: 20px;
  z-index: 2;
}
.home .caja_home {
  flex: 1;
  max-width: 30%;
  z-index: 1;
}
.home .caja_home h1 {
  font-size: 180px;
  color: #104fd6;
}
.home .caja_home p {
  font-size: 50px;
}
.home_img {
  flex: 1;
  max-width: 70%;
}
.home_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.container-premios {
  padding: 20px;
}

.imagen-normalizada {
  height: 95vh;
}

.text-norm {
  background-color: black;
  background: radial-gradient(circle, rgb(0, 0, 0) 15%, rgba(214, 3, 3, 0) 70%);
}

.texto-biografia {
  background: linear-gradient(45deg, #ff7e5f, #feb47b);
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  max-width: 1500px;
  padding: 20px;
  color: antiquewhite;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: #333;
    position: absolute;
    top: 50px;
    left: 0;
  }
  .nav-links a {
    padding: 10px 0;
  }
  .nav-links-active {
    display: flex;
  }
  .nav-toggle {
    display: flex;
  }
  .home {
    flex-direction: column;
    text-align: center;
  }
  .caja_home {
    display: flex;
    padding: 5px;
    flex-direction: column;
    justify-content: center;
  }
  .caja_home h1 {
    display: flex;
    max-width: 100%;
    font-size: 50px;
  }
  .caja_home p {
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */
