.container-premios {
    padding: 20px;
  }

.imagen-normalizada {
  height: 95vh;
}

.text-norm {
  background-color: black;
  background: radial-gradient(circle, rgba(0,0,0,1) 15%, rgba(214,3,3,0) 70%);
}